<%- include('includes/header.ejs') %>
    </head>

    <body>

        <form method="post" action="/add_user">
            <label for="name">name:</label>
            <input type="text" name="name">
            <input type="submit" value="Submit">
        </form>


        <%- include('includes/footer.ejs') %>