<%- include('includes/header.ejs') %>
    </head>

    <body>
        <a href="/">add_user</a>
        <ul>
            <% users.forEach(user=> { %>
                <li>
                    <%= user.name %>
                </li>
                <% }) %>

        </ul>
        <%- include('includes/footer.ejs') %>